#chat-screen {
  background-color: #e9edc9;
  height: 500vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 10px;
  background-color: inherit;
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #ccd5ae;
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

@keyframes fadeInleft {
  from {
    opacity: 0;
    transform: translatex(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInright {
  from {
    transform: translatex(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInleft 0.5s linear forwards;
  opacity: 0;
}
.message-row--own {
  animation: fadeInright 0.5s linear forwards;
}

.message-row:nth-child(3) {
  animation-delay: 1s;
}
.message-row:nth-child(4) {
  animation-delay: 2s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.9;
  font-size: 15px;
  margin-bottom: 10px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 10px;
  font-size: 18px;
}
.message__time {
  opacity: 0.9;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: sandybrown;
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0;
  margin-left: 10px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:first-child i {
  font-size: 25px;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 12px;
  width: 98%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column button {
  position: absolute;
  right: -10px;
  top: 4px;
}

.reply__column:last-child > i {
  right: 30px;
  top: 10px;
  font-size: 23px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply i {
  opacity: 0.5;
}
.reply__column button i {
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 90vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
